<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Node.ec - Industria 4.0, Visión por Computadora e IoT" />
    <title>NODE.EC - Industria 4.0</title>
    
    {% load static %}
    
    <!-- CSS de React -->
    <link href="{% static 'static/css/main.3498c417.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <noscript>Necesitas habilitar JavaScript para ejecutar esta aplicación.</noscript>
    
    <div id="root"></div>
    
    <!-- JavaScript de React -->
    <script src="{% static 'static/js/main.824999e9.js' %}" type="application/javascript"></script>
</body>
</html>
