<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Node.ec - Industria 4.0, Visión por Computadora e IoT" />
    <title>NODE.EC - Industria 4.0</title>
    
    {% load static %}
    
    <!-- CSS de React con hash de producción -->
    <link href="{% static 'css/main.2fbead6f.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <noscript>Necesitas habilitar JavaScript para ejecutar esta aplicación.</noscript>
    
    <div id="root"></div>
    
    <!-- JavaScript de React con hash de producción -->
    <script src="{% static 'js/main.ff2e45f1.js' %}" type="application/javascript"></script>
</body>
</html>
